@import '../../assets/styles/colours.scss';

.assistant-wrapper {
  border-radius: 5px;
  width: 100%;
  background-color: white;
  padding: 25px;
  box-shadow: 0 2px 43px -4px rgba(0,0,0,.19);

  h5 {
    color: $fakeBlueNew;
  }

  .progress {
    margin-top: 10px;
    background-color: rgba($fakeGrey, 0.3);
    .progress-bar {
      background-color: $fakeBlueNew;
    }
  }

  .overall-status-wrapper {
    margin-top: 10px;

    .overall-status {
      display: inline-flex;
      fa-icon {
        padding-right: 5px;
      }
    }
  }
}
