<div *ngIf="formalityData" class="assistant-wrapper">
  <div class="alert-assistant-wrapper">
    <div class="alert-assistant-header">
      <h5>Alert assistant</h5>
    </div>
    <div class="informal-words-counter">
      <div>
        {{ formalityData.informalCount }} / {{ formalityData.overallCount }} of
        words/phrases are informal
      </div>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          [attr.aria-valuenow]="formalityData.formalPercentage"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: formalityData.formalPercentage + '%' }"
        ></div>
      </div>
      <div class="status-summary">
        <fa-icon [icon]="formalStatus.faIcon"> size="xs</fa-icon>
        <div>{{ formalStatus.message }}</div>
      </div>
    </div>
  </div>
  <div
    *ngIf="reliableData && reliableData.reliablePercentage"
    class="reliable-info-status-wrapper"
  >
    <div class="reliable-assistant-header">
      <h5>Reliability assistant</h5>
    </div>
    <div class="reliable-info-counter">
      <div>
        {{ reliableData.reliableSum }} / {{ reliableData.maxScore }} Reliability
        score
      </div>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          [attr.aria-valuenow]="reliableData.reliablePercentage"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: reliableData.reliablePercentage + '%' }"
        ></div>
      </div>
      <div class="status-summary">
        <fa-icon [icon]="reliableStatus.faIcon" size="xs"></fa-icon>
        <div>{{ reliableStatus.message }}</div>
      </div>
    </div>
  </div>
  <div class="add-reliablity" *ngIf="!reliableData">
    <button class="btn btn-primary" (click)="addReliability()">Get reliability info</button>
  </div>
  <div class="overall-assistant-wrapper">
    <div class="overall-assistant-header">
      <h5>Overall score</h5>
      <div class="status-summary">
        <ngb-rating [rate]="overallRating" [readonly]="isRatingLocked" [max]="5"></ngb-rating>
      </div>
    </div>
  </div>
</div>
