@import "../../assets/styles/colours.scss";

.assistant-wrapper {
  width: 100%;
  background-color: white;
  padding: 25px;

  .status-summary {
    margin-top: 8px;
    display: inline-flex;

    fa-icon {
      padding-right: 5px;
    }
  }

  h5 {
    color: $fakeBlue;
  }

  .progress {
    margin-top: 10px;
    background-color: rgba($fakeGrey, 0.3);

    .progress-bar {
      background-color: $fakeBlue;
    }
  }

  .reliable-info-status-wrapper {
    margin: .8rem auto;
  }

  .overall-assistant-wrapper {
    margin-top: 1rem;
  }
  .btn-primary {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 1rem;
    }
}
