/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/colours.scss";

* {
  font-family: 'Lato', sans-serif;
}

html,
body {
  background-color: $fakeBackground !important;
  height: 100%;
  width: 100%;
}
.btn {
  border: none !important;
  border-radius: 0 !important;
}
.btn-primary {
  background-color: $fakeBlue !important;
  border: none !important;
}

.btn-outline-primary {
  border-color: $fakeBlue !important;
  color: $fakeBlue !important;
}

.btn-outline-primary:hover {
  background-color: $fakeGrey !important;
  color: white !important;
}
