/* You can add global styles to this file, and also import other style files */
@import './assets/styles/colours.scss';

* {
  font-family: 'Montserrat', sans-serif;
}

html, body
{
  background-color: $fakeBackground!important;
  height: 100%;
  width: 100%;
}

.btn-primary {
  background-color: $fakeBlueNew!important;
  border: none!important;
}
