/* You can add global styles to this file, and also import other style files */
@import './assets/styles/colours.scss';

* {
  font-family: 'Roboto', sans-serif;
}

html, body
{
  height: 100%;
  width: 100%;
}
