@import "../../assets/styles/colours.scss";
::ng-deep .modal-content {
  border: none;
  border-radius: 0;
}
.modal-dialog {
  .close:focus {
    outline: none;
  }

  h5 {
    margin-top: .5rem;
  }

  .modal-header,
  .modal-content {
    border: none;
  }

  .modal-content {
    padding: 0 1.5rem;
  }

  ::ng-deep .form-check-input {
    outline: none !important;
    &:checked {
      background-color: red;
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: flex-end;

    .btn {
      border: none;
      border-radius: 0;

      & .btn-outline-primary:hover {
        background-color: $fakeGrey;
      }
    }
  }

  fa-icon:hover {
    color: $fakeGrey;
    cursor: pointer;
  }
}
