<div class="container-fluid webpage-select-wrapper col-8">
  <div class="row">
    <div class="header">
      <h1>Don't spread the fake news virus.</h1>
      <p>Found a suspicious article that seems not reliable enough? Check your facts with us and get free from fake
        media sources.</p>
    </div>
  </div>
  <div class="row">
    <form [formGroup]="textForm" (ngSubmit)="onSubmit()">
      <!--      <div class="form-group">-->
      <!--        <input-->
      <!--          type="text"-->
      <!--          class="form-control"-->
      <!--          formControlName="text"-->
      <!--          placeholder="enter your URL"-->
      <!--        />-->
      <!--      </div>-->
      <!--      <div class="divider">or</div>-->
      <textarea class="form-control" rows="6" formControlName="text" placeholder="enter your text"></textarea>
      <div class="btn-wrapper">
        <button
          type="submit"
          [disabled]="textForm.invalid"
          class="btn btn-primary"
        >
          Analyze
        </button>
      </div>
    </form>
  </div>
</div>
