@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import '../../assets/styles/colours';

.webpage-select-wrapper {
  .row {
    justify-content: center;
    width: 100%;

    .header {
      padding: 0 1rem;
    }

    h1 {
      font-weight: bolder;
    }

    p {
      margin-top: 1rem;
      font-size: 1.15rem;
    }

    .divider {
      display: flex;
      justify-content: center;
      margin: .5rem 0;

      &::before,
      &::after {
        display: inline-block;
        content: "";
        border-top: 0.15rem solid #e6e6e6;
        width: 100%;
        margin: 0 1rem;
        transform: translateY(.8rem);
      }
    }

    form {
      width: 100%;

      .btn-wrapper {
        margin-top: 1rem;

        .btn {
          border-radius: 0 !important;
          width: 100%;
        }
      }

      .form-control {
        border-radius: 0;
        border: none;
      }
    }
  }
}
