<div class="container-fluid home-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <app-webpage-select></app-webpage-select>
    </div>
  </div>
  <div [ngClass]="getClass()" class="analyzer-wrapper">
    <div class="row analyzer-row">
      <div class="col-xs-6 col-lg-8">
        <app-website-analyzer></app-website-analyzer>
      </div>
      <div class="col-xs-3 col-lg-2">
        <app-alerts></app-alerts>
      </div>
      <div class="col-xs-3 col-lg-2">
        <app-assistant></app-assistant>
      </div>
    </div>
  </div>
</div>
