<div class="container-fluid home-wrapper">
  <div [ngbCollapse]="isHidden">
    <div class="row" style="margin-top: 10rem;">
      <div class="col-sm-6">
        <app-webpage-select></app-webpage-select>
      </div>
      <div class="col-sm-6">
        <img src="../../assets/icons/undraw_web_search_eetr.svg" alt="" class="img-web-search">
      </div>
    </div>
  </div>
  <div [ngClass]="analyzerClass" class="analyzer-wrapper">
    <div class="row analyzer-row">
      <div class="col-xs-12 col-md-12 col-lg-3">
        <app-assistant></app-assistant>
      </div>
      <div class="col-xs-6 col-md-6 col-lg-6">
        <app-website-analyzer></app-website-analyzer>
      </div>
      <div class="col-xs-6 col-md-6 col-lg-3">
        <app-alerts></app-alerts>
      </div>
    </div>
  </div>
</div>
