.home-wrapper {
  padding: 10rem 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .error-message {
    justify-content: center;
    color: red;
  }

  .analyzer-wrapper {
    padding-top: 20px;

    .analyzer-row {
      padding-top: 30px;

      & > div {
        margin-bottom: 1.5rem;
      }
    }
  }

  .hide-content {
    display: none;
  }

  .img-web-search {
  }
}
