<div class="container-fluid home-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <app-webpage-select></app-webpage-select>
    </div>
  </div>
  <div *ngIf="shouldDisplayAnalyzingSection" class="analyzer-wrapper">
    <div class="row analyzer-row">
      <div class="col-sm-6">
        <app-website-analyzer></app-website-analyzer>
      </div>
      <div class="col-sm-3">
        <app-alerts></app-alerts>
      </div>
      <div class="col-sm-3">
        <app-assistant></app-assistant>
      </div>
    </div>
  </div>
</div>
