<nav class="navbar navbar-light" [ngClass]="backgroundColor">
  <div class="col-3">
    <div *ngIf="wasSubmitted; else defaultLogo">
      <img src="../../assets/icons/fake_page white.svg" alt="FakePage">
    </div>
      <ng-template #defaultLogo>
        <img class="add-margin" src="../../assets/icons/fake_page.svg" alt="FakePage">
      </ng-template>
  </div>
  <div class="col-6">
    <div *ngIf="wasSubmitted" class="submit-wrapper"><input type="text" class="form-control" readonly [value]="text" (click)="onClick()">
      <button class="btn btn-primary" (click)="onClick()">
        Edit
      </button>
    </div>
  </div>
  <div class="col-3">
    <!-- <div class="nav navbar-nav navbar-right">
      <button class="btn btn-outline-primary" routerLink="">Contact</button>
    </div> -->
  </div>
</nav>
