@import "../../assets/styles/colours.scss";
.navbar {
  margin: .5rem 10%;
  padding: 0;
  float: right;

  .btn-outline-primary {
    color: $fakeGrey !important;

    &:hover {
      color: white !important;
    }
  }
}
